#chessboard {
    width: 320px;
    height: 320px;
    background-color: darkgray;
}

.square {
    height:40px;
    width:40px;
} 

.red {
    background-color:red;
}

.blue {
    background-color:blue;
}