#chessboard {
    width: 320px;
    height: 320px;
    display:flex;
    flex-wrap: wrap;
}

 .square {
    height: 40px;
    width: 40px;
    position: relative;
    
} 

.square svg { 
    height: 30px;
    width: 30px;
    margin: 5px;
    position:absolute;
    z-index: 2;
   
}

.square path {
    position:absolute;
    z-index: 1;
   
}

.pieces {
    position:relative;
    z-index: 4;
    
}





.red {
    background-color:red;
}

.blue {
    background-color:blue;
}

.grey {
    fill:grey;
}

.white {
    fill:white;
}
